.emoji {
	font-size: 1.5rem;
	padding: 0.5rem;
	width: 50px;
	cursor: pointer;
	background: none;
	border: none;
}

.emoji:hover {
	background-color:#D3D3D3;
}

.emojicontainer {
	position: relative;
}

.tooltip {
	list-style: none;
	z-index: 10;
	width: 200px;
	top: 30px;
	margin-left: -75px;
	position: absolute;
	padding: 0.5rem;
	background-color: white;
	border: 2px solid gainsboro;
	border-radius: 0.5rem;

}