* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    overflow-y: overlay;
    background-color: var(--background);
    color: var(--text-color);
}

.emojis {
	display: flex;
	flex-flow: row wrap;
}

.emoji {
	font-size: 1.5rem;
	padding: 0.5rem;
}