* {
    box-sizing: border-box;
}

html, body {
	font-family: sans-serif;
    height: 100%;
    background-color: var(--background);
    color: var(--text-color);
}

html {
    overflow-y: scroll;
}

#app {
    display: grid;
    padding: 1rem;
    width: 100%;
    height: 100%;
    grid-template-areas: "left main   right"
                         "left footer right";

    grid-template-rows: 1fr 4rem;
    grid-template-columns: auto 800px auto;
}

@media (max-width: 832px) {
    #app {
        grid-template-columns: 0 100% 0;
    }
}

main {
	grid-area: main;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    grid-area: footer;
}